Django==1.11.28
Flask==0.10.1
Jinja2==2.7.2
Werkzeug==0.9.4
gunicorn==19.0.0
prettytable==0.7.2
pyPdf==1.13
python-linkedin==4.1
python-oauth2==0.7.0
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.1
simplejson==3.5.2
urllib3==1.8.2
uuid==1.30
vcstools==0.1.33
virtualenv==1.11.2
websocket-client==0.12.0
wsgiref==0.1.2
wstool==0.1.1
xattr==0.6.4
zope.interface==3.8.0
